@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    background: #f2f3f5;
    font-family: "Roboto", sans-serif;

    header {
        background: #474d59;
        padding: 15px 20px;
        display: flex;
        justify-content: space-between;

        div {
            color: #fff;
        }

        .logo {
            display: flex;
            flex-wrap: wrap;

            img {
                width: 55px;
            }

            .logo__text {
                padding-left: 5px;
                font-family: Roboto;
                font-weight: bold;
                font-size: 25px;
                margin: auto 0;
            }
        }
        .account {
            margin: auto 0;
            padding: 10px 15px;
            display: flex;
            width: 130px;
            justify-content: space-between;
            background: #474d59;
            border: 1px solid #fff;
            border-radius: 3px;

            .account__text {
                font-size: 15px;
            }

            img {
                fill: #fff;
                margin: auto 0;
                width: 15px;
            }
            &:hover {
                background: #33373f;
            }
        }
    }

    main {
        margin: 30px;

        .categories {
            font-size: 20px;
            color: #a1a1a9;
        }
        .cards {
            text-align: center;
            width: auto;
            margin: 10px 0 30px 0;
            .cards__card {
                display: inline-block;
                margin: 15px 10px;
                img {
                    width: 240px;
                    height: 305px;
                    object-fit: cover;
                    border-radius: 10px;
                    box-shadow: 0 0 7px 2px #474d59;
                }
                &:hover img {
                    transition: all 0.5s;
                    -webkit-filter: brightness(70%);
                    filter: brightness(70%);
                    box-shadow: 0 0 8px 4px #474d59;
                }
            }
        }
        .navigation {
            display: flex;
            margin: 0 auto;
            width: min-content;

            .navigation__elem {
                display: inline-block;
                margin: 0px 0px;

                button {
                    margin: 0px 0px;
                    border: 1px solid #474d59;
                    background: #f2f3f5;
                    padding: 10px 15px;
                    color: #a0a0a7;
                    &:hover {
                        background: #cdcecf;
                    }
                }
                .first {
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                    color: #56af95;
                }
                .last {
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    color: #56af95;
                }
                #zero {
                    font-weight: 800;
                    color: #56af95;
                }
            }
        }
    }
}
