@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    background: #f2f3f5;
    font-family: "Roboto", sans-serif;

    header {
        background: #474d59;
        padding: 15px 20px;
        display: flex;
        justify-content: space-between;

        div {
            color: #fff;
        }

        .logo {
            display: flex;
            flex-wrap: wrap;

            img {
                width: 55px;
            }

            .logo__text {
                padding-left: 5px;
                font-family: Roboto;
                font-weight: bold;
                font-size: 25px;
                margin: auto 0;
            }
        }
        .account {
            margin: auto 0;
            padding: 10px 15px;
            display: flex;
            width: 130px;
            justify-content: space-between;
            background: #474d59;
            border: 1px solid #fff;
            border-radius: 3px;

            .account__text {
                font-size: 15px;
            }

            img {
                fill: #fff;
                margin: auto 0;
                width: 15px;
            }
            &:hover {
                background: #33373f;
            }
        }
    }

    main {
        margin: 30px;

        .categories {
            font-size: 20px;
            color: #a1a1a9;
        }
        .cards {
            text-align: center;
            width: auto;
            margin: 10px 0 30px 0;
            .cards__card {
                position: relative;
                display: inline-block;
                margin: 15px 10px;
                width: 230px;
                height: 355px;

                .cards__name {
                    position: absolute;
                    overflow: hidden;
                    width: 90%;
                    height: 30%;
                    padding: 5%;
                    bottom: 0%;
                    left: 0;
                    font-size: 30px;
                    font-weight: 700;
                    opacity: 0%;
                    z-index: 2;
                    color: #fff;
                    p {
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                &:hover .cards__name {
                    transition: all 0.5s;
                    border-bottom-right-radius: 10px;
                    border-bottom-left-radius: 10px;
                    background-color: rgba($color: #000, $alpha: 0.7);
                    width: 98%;
                    left: -4%;
                    bottom: -4%;
                    opacity: 100%;
                }

                .cards__rate {
                    vertical-align: baseline;
                    background-color: orange;
                    border-radius: 50%;
                    padding: 20px;
                    transition: all 0.5s;
                    position: absolute;
                    font-size: 50px;
                    font-weight: 700;
                    opacity: 0%;
                    z-index: 3;
                    right: 10%;
                    bottom: 50%;
                    color: #fff;
                    box-shadow: 0 0.3em 1em rgba(0, 0, 0, 0.7);
                }
                &:hover .cards__rate {
                    opacity: 100%;
                    bottom: 46%;
                    right: 6%;
                }

                img {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                    box-shadow: 0 0 7px 2px #474d59;
                    z-index: 1;
                }
                &:hover img {
                    left: -4%;
                    bottom: -4%;
                    width: 108%;
                    height: 108%;
                    transition: all 0.5s;
                    filter: brightness(50%);
                    box-shadow: 0 0 8px 4px #474d59;
                }
            }
        }
        .navigation {
            display: flex;
            margin: 0 auto;
            width: min-content;

            .navigation__elem {
                display: inline-block;
                margin: 0px 0px;

                button {
                    margin: 0px 0px;
                    border: 1px solid #474d59;
                    background: #f2f3f5;
                    padding: 10px 15px;
                    color: #7d7d81;
                    &:hover {
                        background: #cdcecf;
                    }
                }
                .first {
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                    color: #3e7e6b;
                }
                .last {
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    color: #3e7e6b;
                }
                #zero {
                    font-weight: bold;
                    color: #3e7e6b;
                }
            }
        }
    }
}
